* {
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 100%;
  margin: 3px;
}

.appContainer {
  width: 100vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5em minmax(1fr, 200px) repeat(3, 1fr);
  gap: 2em;
}

ul {
  list-style-type: none;
}

.projectTitle {
  font-size: 4em;
}
.sectionHead {
  font-size: 2em;
}

fieldset {
  width: 50vw;
}
