* {
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 100%;
  margin: 3px;
}

.appContainer {
  width: 100vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30px repeat(4, minmax(200px, 1fr));
}
